body {
    width: 100vw;
}
.visas > *  {
    width: 100vw;
    margin-bottom: 50px;
}
.centravimas {
    display: inline-block;
    width: 1000px;
    margin-left: calc( 50% - 500px);
    
}

/* HEADER */

header {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    }
    header > img {
        display: inline-block;
        margin-bottom: 50px;
        width: 100px;
        margin-left: calc(50% - 50px);
    }
    header > h1 {
        display: inline-block;
        width: 100%;
        font-size:60px;
        line-height: 70px;
        padding-bottom: 20px;
        text-align: center;
    }
    .buttons {
        display: inline-block;
        margin-left: calc(50% - 200px);  
    }
      .buttons > a {
        display: inline-block;
        color:  white;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        background-color: aqua;
        border-radius: 20px;
        width: 200px;
        text-align: center;
        margin-top: 30px;  
    }
    .buttons > a:last-of-type {
        background-color: blue;
    }

p {
    display: inline-block;
    width: 100%;
    color: grey;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.daznash {
    display: inline-block;
    width: 100%;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 20px;
}

/* HERO */

.antraspsl {
    display: inline-block;
    width: 100%;
    padding-top: 50px;

}
    .desine {
        float: left;
        width: 30%;
        margin-top: 50px;
        margin-left: 50px;
        
    }
        .desine > div > h1 {
            display: inline-block;
            width: 100%;
            font-size: 25px;
            line-height: 30px;
            padding-bottom: 5px; 
        }

        .desine > div > p {
            padding-bottom: 40px; 
            text-align: start;
        }
    .kaire {
        float: left;
        width: 50%;   
    }
        .kaire > img {
            width: 90%;
            height: auto;
        }
        .sunuotrauka > img {
            width: 100%;
            height: auto;
            margin-top: 50px;

    }
    .floatai {
        display: inline-block;
        
    }
    .floatai > div {
        float: left; 
        padding: 20px;
        width: 33%;
        text-align: center;
    }
    .floatai >  :first-child {
        padding-left: 80px; }
    
        .floatai > :last-child {
            padding-right: 80px;
        }
    .floatai > div > img {
        width: 80px;
        margin-bottom: 20px;
    }

    .floatai > div > h1 {
        margin-bottom: 10px;
    }

    .marginlog {
        display: inline-block;
        width: 90%;
        margin: 50px 5% 100px; 
        text-align: center;
        justify-items: center;
        

    }
.logai {
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    
}
.logai > img {
    width: 80%;
    padding: 30px;
    margin: auto 0;  
}
/* FOOTER */
    

 footer {
     display: inline-block;
     width: 100%;
     margin-top: 100px;
     padding: 30px ;
     background-color: #ddd; 
     
 }   
    .flexas {
        display: flex;
        width: 90%;
        align-items: center;
    }

    
    .logodiv {
        display: inline-block;

    }

        footer > .flexas > img {
            height: 80px;
            margin: 30px;
            
        }
        footer > .flexas > .footernav  {
            display: inline-block;
            width: 60%;
            margin-left: 50px;
            flex-shrink: 1;
            
            

        }
        footer > .flexas > .footernav > a{
            display: inline-block;
            
            font-size: 16px;
            line-height: 20px;
            width: 150px;
            padding: 10px 0;
            text-decoration: none;
            color: black;
            
            

        }
        .social {
            width:200px;
            justify-content: end;
            
        }
        .social > a {
            width: 200px;
            margin-right: 10px; 
        }
        .social > a > img {
            width: 25%;
           
        }
        
    





@media (max-width: 1100px ) {
    .centravimas {
        display: inline-block;
        width: 800px;
        margin-left: calc( 50% - 400px);
}
  .kaire {
    float: left;
    width: 60%;  
}
}

@media (max-width: 900px) {
    .centravimas {
        display: inline-block;
        width: 600px;
        margin-left: calc( 50% - 300px);
    } 
        .kaire {
            float: none;
            display: block;
            width: 600px;
            margin-left: calc( 50% - 300px);
        } 
        .desine {
            float: none;
            width: 600px;
            margin-left: calc( 50% - 300px);
        } 
            .logai > img {
                width: 60%;
                margin: auto 20%;
                
            }
    }


@media (max-width: 600px) {
.centravimas {
    display: inline-block;
    width: 300px;
    margin-left: calc( (100% - 300px) / 2 );}
    .buttons {
        margin-left: calc(50% - 100px); 
        margin-top: 20px;
        }
        .kaire {
            width: 300px;
            margin-left: calc( (100% - 300px) / 2 );}
    
        .desine {
            width: 300px;
            margin-left: calc( (100% - 300px) / 2 );}
        .floatai > div {
            float: none; 
            margin-left: calc( (100% - 300px) / 2 );
            width: 300px;
            
            }
            .floatai >  :first-child {
                padding-left: 20px; }
            
                .floatai > :last-child {
                    padding-right: 20px; }
                    .logai > img {
                        width: 60%;
                        margin: auto 20%;
                        
                    }
                    .flexas { 
                        flex-direction: column;
                    }
                    footer > .flexas > .footernav {
                        text-align: center;
                        margin: 30px 0;
                    }
            
            }